[submodule "extern/MikkTSpace"]
	path = extern/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace.git
[submodule "extern/tidy-html5"]
	path = extern/tidy-html5
	url = https://github.com/htacg/tidy-html5
[submodule "extern/swl-variant"]
	path = extern/swl-variant
	url = https://github.com/kring/swl-variant.git
