[submodule "Plugins/Cesium/ThirdParty/tinygltf"]
	path = Plugins/Cesium/ThirdParty/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "Plugins/Cesium/ThirdParty/draco"]
	path = Plugins/Cesium/ThirdParty/draco
	url = https://github.com/google/draco.git
