language: cpp
before_script:
- mkdir -p build
- cd build
- cmake ..
script:
- cmake --build . --config Release --target install
jobs:
  include:
  - name: Check Source Formatting
    os: linux
    dist: focal
    before_script: 
    script:
    - npm install
    - npm run format -- --dry-run -Werror
  - name: Windows + VS2017
    os: windows
    install:
    - choco install 7zip.portable
    - choco install python
    - pip install awscli
    - aws s3 cp s3://cesium-unreal-engine/2021-03-16/UE_4.26.zip .
    - 7z e UE_4.26.zip "-oC:\Program Files\Epic Games"
    - del UE_4.26.zip
    - aws s3 cp s3://cesium-unreal-engine/2021-03-16/Launcher.zip .
    - 7z e UE_4.Launcher.zip "-oC:\Program Files (x86)\Epic Games"
    before_script:
    - mkdir -p extern/build
    - cd extern/build
    - cmake .. -A x64
env:
  global:
  - secure: PbZbyzY3rqCYG9AysPOtC616bFyX2RH2XRg6DJ9CrRQmcpifDcMJAUEFl3Z2Xcl1OeUyAeZP6lxYO55436jmQMnmT46oFIl4CNIh1pN88NwYsMZ6MDCt50rPy+PvPQldxYhIhTfeNVuWrscrCodKgE2ewSvu8IjwSeJfs85ZUxvH8Eme7CYbGqoB4HJEQG8Sdc2VH5z0C6Fy+fGV1Q0W0ItH2A6UKpkRcGrXnvPxWr+AJkI91DdOlNiHrrr+Bi71tYp3DXVz+YtaS9fa/jO9bEdBV56hdJgG6NoH0bnRyTVAqgjMawecMr+1i+m7S7G4G3qwivXSsS2k5nQE8jsf4pLIzb1GyDNe2Lo/gnRcRhiLCW01SwIl+W3VozKzSofs7Wi+kn/Hkbe15f35NsOnmaqfNRRWAChAEovs4NLsnzpUwKwXmxOPDNYsgpnpB3YNycvIDkvCYcoHvrBJO4ytwrG1gXTKjfg5CChwjSoLbtxVEpyUb1W/XL2KgcECDoCkja8Xp+QUdUn/kaN8vpo7sVetKDK+BURlqTCQWGkwmo1dje7XrZUwCX+61+FiQBJu6QmUHnYFDT6P3wyKNZ522ETeqnfdOjzekFQnMDTtOi5Kv7L6bdYS1pG3fhKk2slc3QQuFgmHNfl8JFofjBgGW7sAKl0k5uqKDYf8V6WPuMQ=
  - secure: M9boPWBI7TcautD/9VwacCeQAh3ssMArP4x7sLpgGTbh1F/mo7alnicItdR0rSqD6F9japzS9NP18JX1nuUJsRQHG7wb0UayKN+Mxnwx0MkGcZ5/r2j64OTLDXN8T2Gqc3w2LBqFkmFLctHE5hpfNxmy2Z8cE4MRQnaSxMqQhOffw7iRPPp72u16oh4Ub+dASMl+ETtJthnwwEn4STMo1YUdf9sSiYlSLr4KixxFnMJKyYwYyVCbZKqZeIHPH4x1Me+EPg9bsl6Tox3jp46QvznfobC2SYjaDAkpzXkQkPftZ7FBE76jHybueEhWTGf7b8B2X36IdBGVKm+HZmtO5UndJamTUPB/DsWqfM0w54zZ1UOmXZOuxYgp008wHBE0DZSZ49FHq1zdVmXDdx5MMe4q6YV+F479UCHsOurK+63/Ap+DYK7mDmMd089XIm7WyaPubhXbKdo3w29Lynt9mhxsUpcGaIovoXkxqDP60ziM0/sYNbo95uTn5NoxbUsw6XPHs7ahymMXdf6+5z3t2Ecu8UuVZCKUk+4J003hPkUkj/Z4yM/A9aRdUgp8EkW6/Ro9HubF0A7JBtO+G6JNmjXKqJ82kMdU2MojMHKuVSKHItS19BHtYqgFp+QicmNIFf/EacvKKxbJQyPBLT+dAtEjcHNwlWDL66m1FFk/MVE=
