language: cpp
jobs:
  include:
  - stage: Static Checks
    name: Formatting
    os: linux
    dist: focal
    git:
      submodules: false
    before_script:
    script:
    - npm install
    - npm run format -- --dry-run -Werror
  - stage: Build OS Packages
    name: Windows 4.26
    os: windows
    install:
    - choco install 7zip.portable
    - choco install python --version 3.9.2
    - python -m pip install --upgrade pip
    - pip3 install --upgrade pip
    - pip3 install awscli
    - pip3 install httpie
    - travis_wait 30 "./travis/travis-get-ue.sh"
    before_script:
    - export CESIUM_UNREAL_VERSION=$(git describe)
    - export BUILD_CESIUM_UNREAL_PACKAGE_NAME=CesiumForUnreal-426-${TRAVIS_OS_NAME}-${CESIUM_UNREAL_VERSION}
    - mkdir -p extern/build
    - cd extern/build
    - cmake .. -A x64
    script:
    - cmake --build . --config Release --target install -- /maxcpucount:4
    - cd ../..
    - rm -rf extern
    - export CLONEDIR=$PWD
    - cd /c/Program\ Files/Epic\ Games/UE_4.26/Engine/Build/BatchFiles
    - ./RunUAT.bat BuildPlugin -Plugin="$CLONEDIR/CesiumForUnreal.uplugin" -Package="$CLONEDIR/../packages/CesiumForUnreal" -CreateSubFolder -TargetPlatforms=Win64
    - cd "$CLONEDIR/../packages"
    - 7z a ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip CesiumForUnreal/
    - aws s3 cp ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip s3://builds-cesium-unreal/
    - export PACKAGE_LINK=$(aws --region us-east-1 s3 presign s3://builds-cesium-unreal/${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip --expires-in 315360000)
    - http POST "https://api.github.com/repos/${TRAVIS_REPO_SLUG}/statuses/${TRAVIS_COMMIT}" "Authorization:token ${GITHUB_TOKEN}" state=success context=UE4.26-Windows "target_url=${PACKAGE_LINK}" --ignore-stdin
    env: PATH=/c/Python39:/c/Python39/Scripts:$PATH
  - name: Windows 4.27
    os: windows
    install:
    - choco install 7zip.portable
    - choco install python --version 3.9.2
    - python -m pip install --upgrade pip
    - pip3 install --upgrade pip
    - pip3 install awscli
    - pip3 install httpie
    - travis_wait 30 "./travis/travis-get-ue-427.sh"
    before_script:
    - export CESIUM_UNREAL_VERSION=$(git describe)
    - export BUILD_CESIUM_UNREAL_PACKAGE_NAME=CesiumForUnreal-427-windows-${CESIUM_UNREAL_VERSION}
    - mkdir -p extern/build
    - cd extern/build
    - cmake .. -A x64
    script:
    - cmake --build . --config Release --target install -- /maxcpucount:4
    - cd ../..
    - rm -rf extern
    - export CLONEDIR=$PWD
    - cd /c/Program\ Files/Epic\ Games/UE_4.27/Engine/Build/BatchFiles
    - ./RunUAT.bat BuildPlugin -Plugin="$CLONEDIR/CesiumForUnreal.uplugin" -Package="$CLONEDIR/../packages/CesiumForUnreal" -CreateSubFolder -TargetPlatforms=Win64
    - cd "$CLONEDIR/../packages"
    - 7z a ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip CesiumForUnreal/
    - aws s3 cp ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip s3://builds-cesium-unreal/
    - export PACKAGE_LINK=$(aws --region us-east-1 s3 presign s3://builds-cesium-unreal/${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip --expires-in 315360000)
    - http POST "https://api.github.com/repos/${TRAVIS_REPO_SLUG}/statuses/${TRAVIS_COMMIT}" "Authorization:token ${GITHUB_TOKEN}" state=success context=UE4.27-Windows "target_url=${PACKAGE_LINK}" --ignore-stdin
    env: PATH=/c/Python39:/c/Python39/Scripts:$PATH
  - name: Android 4.26
    os: windows
    cache:
      timeout: 1000
      directories:
      - $HOME/android-ndk-r21e
    install:
    - choco install 7zip.portable
    - choco install python --version 3.9.2
    - choco install wget
    - choco install ninja
    - python -m pip install --upgrade pip
    - pip3 install --upgrade pip
    - pip3 install awscli
    - pip3 install httpie
    - travis_wait 30 "./travis/travis-get-ue.sh"
    - travis_wait 30 "./travis/travis-get-android-ndk.sh"
    before_script:
    - export ANDROID_NDK_ROOT=$HOME/android-ndk-r21e
    - export NDKROOT=$ANDROID_NDK_ROOT
    - export CESIUM_UNREAL_VERSION=$(git describe)
    - export BUILD_CESIUM_UNREAL_PACKAGE_NAME=CesiumForUnreal-426-android-${CESIUM_UNREAL_VERSION}
    - mkdir -p extern/build-android
    - cd extern/build-android
    - cmake .. -G Ninja -DCMAKE_TOOLCHAIN_FILE="unreal-android-toolchain.cmake" -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DCMAKE_BUILD_TYPE=Release
    - cd ../..
    script:
    - cd extern/build-android
    - cmake --build . --config Release --target install
    - cd ../..
    - rm -rf extern
    - export CLONEDIR=$PWD
    - cd /c/Program\ Files/Epic\ Games/UE_4.26/Engine/Build/BatchFiles
    - ./RunUAT.bat BuildPlugin -Plugin="$CLONEDIR/CesiumForUnreal.uplugin" -Package="$CLONEDIR/../packages/CesiumForUnreal" -CreateSubFolder -TargetPlatforms=Android -NoHostPlatform
    - cd "$CLONEDIR/../packages"
    - 7z a ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip CesiumForUnreal/
    - aws s3 cp ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip s3://builds-cesium-unreal/
    - export PACKAGE_LINK=$(aws --region us-east-1 s3 presign s3://builds-cesium-unreal/${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip --expires-in 315360000)
    - http POST "https://api.github.com/repos/${TRAVIS_REPO_SLUG}/statuses/${TRAVIS_COMMIT}" "Authorization:token ${GITHUB_TOKEN}" state=success context=UE4.26-Android "target_url=${PACKAGE_LINK}" --ignore-stdin
    env: PATH=/c/Python39:/c/Python39/Scripts:$PATH
  - name: Android 4.27
    os: windows
    cache:
      timeout: 1000
      directories:
      - $HOME/android-ndk-r21e
    install:
    - choco install 7zip.portable
    - choco install python --version 3.9.2
    - choco install wget
    - choco install ninja
    - python -m pip install --upgrade pip
    - pip3 install --upgrade pip
    - pip3 install awscli
    - pip3 install httpie
    - travis_wait 30 "./travis/travis-get-ue-427.sh"
    - travis_wait 30 "./travis/travis-get-android-ndk.sh"
    before_script:
    - export ANDROID_NDK_ROOT=$HOME/android-ndk-r21e
    - export NDKROOT=$ANDROID_NDK_ROOT
    - export CESIUM_UNREAL_VERSION=$(git describe)
    - export BUILD_CESIUM_UNREAL_PACKAGE_NAME=CesiumForUnreal-427-android-${CESIUM_UNREAL_VERSION}
    - mkdir -p extern/build-android
    - cd extern/build-android
    - cmake .. -G Ninja -DCMAKE_TOOLCHAIN_FILE="unreal-android-toolchain.cmake" -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DCMAKE_BUILD_TYPE=Release
    - cd ../..
    script:
    - cd extern/build-android
    - cmake --build . --config Release --target install
    - cd ../..
    - rm -rf extern
    - export CLONEDIR=$PWD
    - cd /c/Program\ Files/Epic\ Games/UE_4.27/Engine/Build/BatchFiles
    - ./RunUAT.bat BuildPlugin -Plugin="$CLONEDIR/CesiumForUnreal.uplugin" -Package="$CLONEDIR/../packages/CesiumForUnreal" -CreateSubFolder -TargetPlatforms=Android -NoHostPlatform
    - cd "$CLONEDIR/../packages"
    - 7z a ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip CesiumForUnreal/
    - aws s3 cp ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip s3://builds-cesium-unreal/
    - export PACKAGE_LINK=$(aws --region us-east-1 s3 presign s3://builds-cesium-unreal/${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip --expires-in 315360000)
    - http POST "https://api.github.com/repos/${TRAVIS_REPO_SLUG}/statuses/${TRAVIS_COMMIT}" "Authorization:token ${GITHUB_TOKEN}" state=success context=UE4.27-Android "target_url=${PACKAGE_LINK}" --ignore-stdin
    env: PATH=/c/Python39:/c/Python39/Scripts:$PATH
  - name: MacOS 4.26
    os: osx
    osx_image: xcode11.3
    addons:
      homebrew:
        packages:
        - p7zip
    install:
    - python -m pip install --upgrade pip
    - pip3 install --upgrade pip
    - pip3 install awscli
    - pip3 install httpie
    - chmod +x "./travis/travis-get-ue.sh"
    - "./travis/travis-get-ue.sh"
    before_script:
    - export CESIUM_UNREAL_VERSION=$(git describe)
    - export BUILD_CESIUM_UNREAL_PACKAGE_NAME=CesiumForUnreal-426-osx-${CESIUM_UNREAL_VERSION}
    - mkdir -p extern/build
    - cd extern/build
    - cmake .. -DCMAKE_BUILD_TYPE=Release
    script:
    - cmake --build . -j 4 --target install
    - cd ../..
    - rm -rf extern
    - export CLONEDIR=$PWD
    - cd $HOME/UE_4.26/Users/Shared/Epic\ Games/UE_4.26/Engine/Build/BatchFiles
    - ./RunUAT.sh BuildPlugin -Plugin="$CLONEDIR/CesiumForUnreal.uplugin" -Package="$CLONEDIR/../packages/CesiumForUnreal" -CreateSubFolder -TargetPlatforms=Mac
    - cd "$CLONEDIR/../packages"
    - 7z a ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip CesiumForUnreal/
    - aws s3 cp ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip s3://builds-cesium-unreal/
    - export PACKAGE_LINK=$(aws --region us-east-1 s3 presign s3://builds-cesium-unreal/${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip --expires-in 315360000)
    - http POST "https://api.github.com/repos/${TRAVIS_REPO_SLUG}/statuses/${TRAVIS_COMMIT}" "Authorization:token ${GITHUB_TOKEN}" state=success context=UE4.26-macOS "target_url=${PACKAGE_LINK}" --ignore-stdin
  - name: Linux 4.26
    os: linux
    dist: focal
    install:
    - # As of 2021-08-23, the server listed in the rabbitmq PPA has an expired certificate
    - # and breaks our ability to update. We don't need it, so remove it.
    - sudo rm /etc/apt/sources.list.d/rabbitmq.list
    - sudo apt-get update
    - sudo apt-get install unzip zip awscli httpie
    - chmod +x "./travis/travis-get-ue.sh"
    - "./travis/travis-get-ue.sh"
    script:
    - export UNREAL_ENGINE_DIR=$HOME/UE_4.26
    - export UNREAL_ENGINE_COMPILER_DIR=$UNREAL_ENGINE_DIR/Engine/Extras/ThirdPartyNotUE/SDKs/HostLinux/Linux_x64/v17_clang-10.0.1-centos7/x86_64-unknown-linux-gnu
    - export UNREAL_ENGINE_LIBCXX_DIR=$UNREAL_ENGINE_DIR/Engine/Source/ThirdParty/Linux/LibCxx
    - export CESIUM_UNREAL_VERSION=$(git describe)
    - export BUILD_CESIUM_UNREAL_PACKAGE_NAME=CesiumForUnreal-426-linux-${CESIUM_UNREAL_VERSION}
    - mkdir -p extern/build
    - cd extern
    - cmake -B build -S . -DCMAKE_TOOLCHAIN_FILE="unreal-linux-toolchain.cmake" -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DCMAKE_BUILD_TYPE=Release
    - cmake --build build -j 4 --target install
    - cd ..
    - rm -rf extern
    - export CLONEDIR=$PWD
    - cd $HOME/UE_4.26/Engine/Build/BatchFiles
    - ./RunUAT.sh BuildPlugin -Plugin="$CLONEDIR/CesiumForUnreal.uplugin" -Package="$CLONEDIR/../packages/CesiumForUnreal" -CreateSubFolder -TargetPlatforms=Linux
    - cd "$CLONEDIR/../packages"
    - zip -r ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip CesiumForUnreal
    - aws s3 cp ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip s3://builds-cesium-unreal/
    - export PACKAGE_LINK=$(aws --region us-east-1 s3 presign s3://builds-cesium-unreal/${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip --expires-in 315360000)
    - http POST "https://api.github.com/repos/${TRAVIS_REPO_SLUG}/statuses/${TRAVIS_COMMIT}" "Authorization:token ${GITHUB_TOKEN}" state=success context=UE4.26-Linux "target_url=${PACKAGE_LINK}" --ignore-stdin
  - name: Linux 4.27
    os: windows
    cache:
      timeout: 1000
      directories:
      - $HOME/android-ndk-r21e
    install:
    - choco install 7zip.portable
    - choco install python --version 3.9.2
    - choco install wget
    - choco install ninja
    - python -m pip install --upgrade pip
    - pip3 install --upgrade pip
    - pip3 install awscli
    - pip3 install httpie
    - travis_wait 30 "./travis/travis-get-ue-linux-crosscompile-toolchain-427.sh"
    - travis_wait 30 "./travis/travis-get-ue-427.sh"
    script:
    - "export UNREAL_ENGINE_DIR=/c/Program\\ Files/Epic\\ Games/UE_4.27"
    - "export UNREAL_ENGINE_COMPILER_DIR=/c/UnrealToolchains/v19_clang-11.0.1-centos7/x86_64-unknown-linux-gnu"
    - "export UNREAL_ENGINE_LIBCXX_DIR=$UNREAL_ENGINE_DIR/Engine/Source/ThirdParty/Linux/LibCxx"
    - export CESIUM_UNREAL_VERSION=$(git describe)
    - export BUILD_CESIUM_UNREAL_PACKAGE_NAME=CesiumForUnreal-427-linux-${CESIUM_UNREAL_VERSION}
    - mkdir -p extern/build
    - cd extern
    - cmake -G Ninja -B build -S . -DCMAKE_TOOLCHAIN_FILE="unreal-linux-from-windows-toolchain.cmake" -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DCMAKE_BUILD_TYPE=Release
    - cat /c/Users/travis/build/CesiumGS/cesium-unreal/extern/build/CMakeFiles/CMakeError.log
    - cmake --build build -j 4 --target install
    - cd ..
    - rm -rf extern
    - export CLONEDIR=$PWD
    - cd /c/Program\ Files/Epic\ Games/UE_4.27/Engine/Build/BatchFiles
    - ./RunUAT.bat BuildPlugin -Plugin="$CLONEDIR/CesiumForUnreal.uplugin" -Package="$CLONEDIR/../packages/CesiumForUnreal" -CreateSubFolder -TargetPlatforms=Linux -NoHostPlatform
    - cd "$CLONEDIR/../packages"
    - 7z a ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip CesiumForUnreal/
    - aws s3 cp ${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip s3://builds-cesium-unreal/
    - export PACKAGE_LINK=$(aws --region us-east-1 s3 presign s3://builds-cesium-unreal/${BUILD_CESIUM_UNREAL_PACKAGE_NAME}.zip --expires-in 315360000)
    - http POST "https://api.github.com/repos/${TRAVIS_REPO_SLUG}/statuses/${TRAVIS_COMMIT}" "Authorization:token ${GITHUB_TOKEN}" state=success context=UE4.27-Linux "target_url=${PACKAGE_LINK}" --ignore-stdin
    env: PATH=/c/Python39:/c/Python39/Scripts:$PATH
  - stage: Combine Packages 4.26
    os: linux
    dist: focal
    git:
      submodules: false
    install:
    - # As of 2021-08-23, the server listed in the rabbitmq PPA has an expired certificate
    - # and breaks our ability to update. We don't need it, so remove it.
    - sudo rm /etc/apt/sources.list.d/rabbitmq.list
    - sudo apt-get update
    - sudo apt-get install unzip zip awscli httpie
    script:
    - export CESIUM_UNREAL_VERSION=$(git describe)
    - aws s3 cp s3://builds-cesium-unreal/CesiumForUnreal-426-linux-${CESIUM_UNREAL_VERSION}.zip .
    - aws s3 cp s3://builds-cesium-unreal/CesiumForUnreal-426-osx-${CESIUM_UNREAL_VERSION}.zip .
    - aws s3 cp s3://builds-cesium-unreal/CesiumForUnreal-426-android-${CESIUM_UNREAL_VERSION}.zip .
    - aws s3 cp s3://builds-cesium-unreal/CesiumForUnreal-426-windows-${CESIUM_UNREAL_VERSION}.zip .
    - mkdir -p build/package
    - cd build/package
    - unzip ../../CesiumForUnreal-426-linux-${CESIUM_UNREAL_VERSION}.zip
    - unzip -o ../../CesiumForUnreal-426-osx-${CESIUM_UNREAL_VERSION}.zip
    - unzip -o ../../CesiumForUnreal-426-android-${CESIUM_UNREAL_VERSION}.zip
    - unzip -o ../../CesiumForUnreal-426-windows-${CESIUM_UNREAL_VERSION}.zip
    - zip -r CesiumForUnreal-426-${CESIUM_UNREAL_VERSION}.zip CesiumForUnreal
    - aws s3 cp CesiumForUnreal-426-${CESIUM_UNREAL_VERSION}.zip s3://builds-cesium-unreal/
    - export PACKAGE_LINK=$(aws --region us-east-1 s3 presign s3://builds-cesium-unreal/CesiumForUnreal-426-${CESIUM_UNREAL_VERSION}.zip --expires-in 315360000)
    - http POST "https://api.github.com/repos/${TRAVIS_REPO_SLUG}/statuses/${TRAVIS_COMMIT}" "Authorization:token ${GITHUB_TOKEN}" state=success context=UE4.26-AllPlatforms "target_url=${PACKAGE_LINK}" --ignore-stdin
  - stage: Combine Packages 4.27
    os: linux
    dist: focal
    git:
      submodules: false
    install:
    - # As of 2021-08-23, the server listed in the rabbitmq PPA has an expired certificate
    - # and breaks our ability to update. We don't need it, so remove it.
    - sudo rm /etc/apt/sources.list.d/rabbitmq.list
    - sudo apt-get update
    - sudo apt-get install unzip zip awscli httpie
    script:
    - export CESIUM_UNREAL_VERSION=$(git describe)
    - aws s3 cp s3://builds-cesium-unreal/CesiumForUnreal-427-linux-${CESIUM_UNREAL_VERSION}.zip .
    # - aws s3 cp s3://builds-cesium-unreal/CesiumForUnreal-osx-${CESIUM_UNREAL_VERSION}.zip .
    - aws s3 cp s3://builds-cesium-unreal/CesiumForUnreal-427-android-${CESIUM_UNREAL_VERSION}.zip .
    - aws s3 cp s3://builds-cesium-unreal/CesiumForUnreal-427-windows-${CESIUM_UNREAL_VERSION}.zip .
    - mkdir -p build/package
    - cd build/package
    - unzip ../../CesiumForUnreal-427-linux-${CESIUM_UNREAL_VERSION}.zip
    # - unzip -o ../../CesiumForUnreal-osx-${CESIUM_UNREAL_VERSION}.zip
    - unzip -o ../../CesiumForUnreal-427-android-${CESIUM_UNREAL_VERSION}.zip
    - unzip -o ../../CesiumForUnreal-427-windows-${CESIUM_UNREAL_VERSION}.zip
    - zip -r CesiumForUnreal-427-${CESIUM_UNREAL_VERSION}.zip CesiumForUnreal
    - aws s3 cp CesiumForUnreal-427-${CESIUM_UNREAL_VERSION}.zip s3://builds-cesium-unreal/
    - export PACKAGE_LINK=$(aws --region us-east-1 s3 presign s3://builds-cesium-unreal/CesiumForUnreal-427-${CESIUM_UNREAL_VERSION}.zip --expires-in 315360000)
    - http POST "https://api.github.com/repos/${TRAVIS_REPO_SLUG}/statuses/${TRAVIS_COMMIT}" "Authorization:token ${GITHUB_TOKEN}" state=success context=UE4.27-AllPlatforms "target_url=${PACKAGE_LINK}" --ignore-stdin
