name: Cesium for Unreal
on: [push, workflow_dispatch]
jobs:
  QuickChecks:
    name: "Quick Checks"
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Check source formatting
        run: |
          npm install
          npm run format -- --dry-run -Werror
  Documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Install Doxygen
        run: |
          cd ~
          wget https://github.com/doxygen/doxygen/releases/download/Release_1_12_0/doxygen-1.12.0.linux.bin.tar.gz
          tar xzf doxygen-1.12.0.linux.bin.tar.gz
          export PATH=$PWD/doxygen-1.12.0/bin:$PATH
          echo "PATH=$PATH" >> "$GITHUB_ENV"
          doxygen --version
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Generate Documentation
        run: |
          npm install
          npm run doxygen
      - name: Publish Documentation Artifact
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: ReferenceDocumentation
          path: Documentation/Reference
 Windows54:
    uses: ./.github/workflows/buildWindows.yml
    secrets: inherit
    with:
      runner-label: "windows-2022"
      unreal-engine-version: "5.4.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.4.0/UE_5.4.zip"
      unreal-program-name: "UE_5.4"
      upload-package-base-name: "CesiumForUnreal-54-windows"
      # These are specified in the Unreal Engine release notes under "IDE Version the Build farm compiles against"
      # and using them ensures we're compiling our plugin in the exact same way that Unreal Engine itself is compiled.
      cmake-generator: "Visual Studio 17 2022"
      cmake-toolchain: "version=14.34"
      cmake-platform: "x64,version=10.0.18362.0"
      visual-studio-version: "2022"
      visual-studio-components: "Microsoft.VisualStudio.Component.VC.14.34.17.4.x86.x64,Microsoft.VisualStudio.Component.Windows10SDK.18362"
  TestWindows54:
    needs: [Windows54]
    uses: ./.github/workflows/testWindows.yml
    secrets: inherit
    with:
      runner-label: windows-2022
      unreal-engine-zip: "s3://cesium-unreal-engine/5.4.0/UE_5.4.zip"
      unreal-program-name: "UE_5.4"
      test-package-base-name: "CesiumForUnreal-54-windows"
  Android54:
    uses: ./.github/workflows/buildAndroid.yml
    secrets: inherit
    with:
      runner-label: windows-2022
      unreal-engine-version: "5.4.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.4.0/UE_5.4.zip"
      unreal-program-name: "UE_5.4"
      upload-package-base-name: "CesiumForUnreal-54-android"
      android-ndk-version: "r25b"
  Linux54:
    uses: ./.github/workflows/buildLinux.yml
    secrets: inherit
    with:
      runner-label: ubuntu-22.04
      unreal-engine-version: "5.4.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.4.0/Linux_Unreal_Engine_5.4.0.zip"
      unreal-program-name: "UE_5.4"
      upload-package-base-name: "CesiumForUnreal-54-linux"
      clang-version: "v22_clang-16.0.6-centos7"
  Apple54:
    uses: ./.github/workflows/buildApple.yml
    secrets: inherit
    with:
      runner-label: macos-14
      unreal-engine-version: "5.4.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.4.0/UE_54_macOS.zip"
      unreal-program-name: "UE_5.4"
      upload-package-base-name: "CesiumForUnreal-54-apple"
      xcode-version: "15.4"
  Combine54:
    runs-on: ubuntu-latest
    needs: [Windows54, Android54, Linux54, Apple54]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set environment variables
        run: |
          export CESIUM_UNREAL_VERSION=$GITHUB_REF_NAME
          export BUILD_CESIUM_UNREAL_PACKAGE_NAME="CesiumForUnreal-54-${CESIUM_UNREAL_VERSION}"
          export BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME="CesiumForUnreal-54-SourceOnly-${CESIUM_UNREAL_VERSION}"
          # Make these available to subsequent steps
          echo "CESIUM_UNREAL_VERSION=$CESIUM_UNREAL_VERSION" >> $GITHUB_ENV
          echo "BUILD_CESIUM_UNREAL_PACKAGE_NAME=$BUILD_CESIUM_UNREAL_PACKAGE_NAME" >> $GITHUB_ENV
          echo "BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME=$BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME" >> $GITHUB_ENV
      - name: Download Apple build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-54-apple-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Download Android build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-54-android-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Download Linux build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-54-linux-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Download Windows build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-54-windows-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Publish combined package artifact
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BUILD_CESIUM_UNREAL_PACKAGE_NAME}}
          path: combine
      - name: Publish combined package artifact for the Unreal Marketplace
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME}}
          path: |
            combine
            # These are built by Epic, and including them seems to confuse their process.
            !combine/CesiumForUnreal/Binaries/**/*
            !combine/CesiumForUnreal/Intermediate/**/*
  TestPackage54:
    needs: [Combine54]
    uses: ./.github/workflows/testPackageOnWindows.yml
    secrets: inherit
    with:
      runner-label: windows-2022
      unreal-engine-zip: "s3://cesium-unreal-engine/5.4.0/UE_5.4.zip"
      unreal-program-name: "UE_5.4"
      unreal-engine-association: "5.4"
      test-package-base-name: "CesiumForUnreal-54"
      visual-studio-version: "2022"
      visual-studio-components: "Microsoft.VisualStudio.Component.VC.14.34.17.4.x86.x64,Microsoft.VisualStudio.Component.Windows10SDK.18362"
  Windows55:
    uses: ./.github/workflows/buildWindows.yml
    secrets: inherit
    with:
      runner-label: "windows-2022"
      unreal-engine-version: "5.5.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.5.0/UE_5.5.zip"
      unreal-program-name: "UE_5.5"
      upload-package-base-name: "CesiumForUnreal-55-windows"
      # These are specified in the Unreal Engine release notes under "IDE Version the Build farm compiles against"
      # and using them ensures we're compiling our plugin in the exact same way that Unreal Engine itself is compiled.
      cmake-generator: "Visual Studio 17 2022"
      cmake-toolchain: "version=14.38"
      cmake-platform: "x64,version=10.0.22621.0"
      visual-studio-version: "2022"
      visual-studio-components: "Microsoft.VisualStudio.Component.VC.14.38.17.8.x86.x64,Microsoft.VisualStudio.Component.Windows11SDK.22621"
  TestWindows55:
    needs: [Windows55]
    uses: ./.github/workflows/testWindows.yml
    secrets: inherit
    with:
      runner-label: windows-2022
      unreal-engine-zip: "s3://cesium-unreal-engine/5.5.0/UE_5.5.zip"
      unreal-program-name: "UE_5.5"
      test-package-base-name: "CesiumForUnreal-55-windows"
  Android55:
    uses: ./.github/workflows/buildAndroid.yml
    secrets: inherit
    with:
      runner-label: windows-2022
      unreal-engine-version: "5.5.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.5.0/UE_5.5.zip"
      unreal-program-name: "UE_5.5"
      upload-package-base-name: "CesiumForUnreal-55-android"
      android-ndk-version: "r25b"
  Linux55:
    uses: ./.github/workflows/buildLinux.yml
    secrets: inherit
    with:
      runner-label: ubuntu-22.04
      unreal-engine-version: "5.5.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.5.0/Linux_Unreal_Engine_5.5.0.zip"
      unreal-program-name: "UE_5.5"
      upload-package-base-name: "CesiumForUnreal-55-linux"
      clang-version: "v23_clang-18.1.0-rockylinux8"
  Apple55:
    uses: ./.github/workflows/buildApple.yml
    secrets: inherit
    with:
      runner-label: macos-14
      unreal-engine-version: "5.5.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.5.0/UE_55_macOS.zip"
      unreal-program-name: "UE_5.5"
      upload-package-base-name: "CesiumForUnreal-55-apple"
      xcode-version: "15.4"
  Combine55:
    runs-on: ubuntu-latest
    needs: [Windows55, Android55, Linux55, Apple55]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set environment variables
        run: |
          export CESIUM_UNREAL_VERSION=$GITHUB_REF_NAME
          export BUILD_CESIUM_UNREAL_PACKAGE_NAME="CesiumForUnreal-55-${CESIUM_UNREAL_VERSION}"
          export BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME="CesiumForUnreal-55-SourceOnly-${CESIUM_UNREAL_VERSION}"
          # Make these available to subsequent steps
          echo "CESIUM_UNREAL_VERSION=$CESIUM_UNREAL_VERSION" >> $GITHUB_ENV
          echo "BUILD_CESIUM_UNREAL_PACKAGE_NAME=$BUILD_CESIUM_UNREAL_PACKAGE_NAME" >> $GITHUB_ENV
          echo "BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME=$BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME" >> $GITHUB_ENV
      - name: Download Apple build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-55-apple-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Download Android build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-55-android-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Download Linux build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-55-linux-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Download Windows build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-55-windows-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Publish combined package artifact
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BUILD_CESIUM_UNREAL_PACKAGE_NAME}}
          path: combine
      - name: Publish combined package artifact for the Unreal Marketplace
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME}}
          path: |
            combine
            # These are built by Epic, and including them seems to confuse their process.
            !combine/CesiumForUnreal/Binaries/**/*
            !combine/CesiumForUnreal/Intermediate/**/*
  TestPackage55:
    needs: [Combine55]
    uses: ./.github/workflows/testPackageOnWindows.yml
    secrets: inherit
    with:
      runner-label: windows-2022
      unreal-engine-zip: "s3://cesium-unreal-engine/5.5.0/UE_5.5.zip"
      unreal-program-name: "UE_5.5"
      unreal-engine-association: "5.5"
      test-package-base-name: "CesiumForUnreal-55"
      visual-studio-version: "2022"
      visual-studio-components: "Microsoft.VisualStudio.Component.VC.14.38.17.8.x86.x64,Microsoft.VisualStudio.Component.Windows11SDK.22621"
  Windows56:
    uses: ./.github/workflows/buildWindows.yml
    secrets: inherit
    with:
      runner-label: "windows-2022"
      unreal-engine-version: "5.6.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.6.0/UE_5.6.zip"
      unreal-program-name: "UE_5.6"
      upload-package-base-name: "CesiumForUnreal-56-windows"
      # These are specified in the Unreal Engine release notes under "IDE Version the Build farm compiles against"
      # and using them ensures we're compiling our plugin in the exact same way that Unreal Engine itself is compiled.
      cmake-generator: "Visual Studio 17 2022"
      cmake-toolchain: "version=14.38"
      cmake-platform: "x64,version=10.0.22621.0"
      visual-studio-version: "2022"
      visual-studio-components: "Microsoft.VisualStudio.Component.VC.14.38.17.8.x86.x64,Microsoft.VisualStudio.Component.Windows11SDK.22621"
  TestWindows56:
    needs: [Windows56]
    uses: ./.github/workflows/testWindows.yml
    secrets: inherit
    with:
      runner-label: windows-2022
      unreal-engine-zip: "s3://cesium-unreal-engine/5.6.0/UE_5.6.zip"
      unreal-program-name: "UE_5.6"
      test-package-base-name: "CesiumForUnreal-56-windows"
  Android56:
    uses: ./.github/workflows/buildAndroid.yml
    secrets: inherit
    with:
      runner-label: windows-2022
      unreal-engine-version: "5.6.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.6.0/UE_5.6.zip"
      unreal-program-name: "UE_5.6"
      upload-package-base-name: "CesiumForUnreal-56-android"
      android-ndk-version: "r25b"
  Linux56:
    uses: ./.github/workflows/buildLinux.yml
    secrets: inherit
    with:
      runner-label: ubuntu-22.04
      unreal-engine-version: "5.6.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.6.0/Linux_Unreal_Engine_5.6.0.zip"
      unreal-program-name: "UE_5.6"
      upload-package-base-name: "CesiumForUnreal-56-linux"
      clang-version: "v25_clang-18.1.0-rockylinux8"
  Apple56:
    uses: ./.github/workflows/buildApple.yml
    secrets: inherit
    with:
      runner-label: macos-14
      unreal-engine-version: "5.6.0"
      unreal-engine-zip: "s3://cesium-unreal-engine/5.6.0/UE_56-mac.zip"
      unreal-program-name: "UE_5.6"
      upload-package-base-name: "CesiumForUnreal-56-apple"
      xcode-version: "16.1"
  Combine56:
    runs-on: ubuntu-latest
    needs: [Windows56, Android56, Linux56, Apple56]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set environment variables
        run: |
          export CESIUM_UNREAL_VERSION=$GITHUB_REF_NAME
          export BUILD_CESIUM_UNREAL_PACKAGE_NAME="CesiumForUnreal-56-${CESIUM_UNREAL_VERSION}"
          export BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME="CesiumForUnreal-56-SourceOnly-${CESIUM_UNREAL_VERSION}"
          # Make these available to subsequent steps
          echo "CESIUM_UNREAL_VERSION=$CESIUM_UNREAL_VERSION" >> $GITHUB_ENV
          echo "BUILD_CESIUM_UNREAL_PACKAGE_NAME=$BUILD_CESIUM_UNREAL_PACKAGE_NAME" >> $GITHUB_ENV
          echo "BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME=$BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME" >> $GITHUB_ENV
      - name: Download Apple build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-56-apple-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Download Android build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-56-android-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Download Linux build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-56-linux-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Download Windows build
        uses: actions/download-artifact@v4
        with:
          name: CesiumForUnreal-56-windows-${{ env.CESIUM_UNREAL_VERSION}}
          path: combine
      - name: Publish combined package artifact
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BUILD_CESIUM_UNREAL_PACKAGE_NAME}}
          path: combine
      - name: Publish combined package artifact for the Unreal Marketplace
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BUILD_CESIUM_UNREAL_SOURCE_ONLY_PACKAGE_NAME}}
          path: |
            combine
            # These are built by Epic, and including them seems to confuse their process.
            !combine/CesiumForUnreal/Binaries/**/*
            !combine/CesiumForUnreal/Intermediate/**/*
  TestPackage56:
    needs: [Combine56]
    uses: ./.github/workflows/testPackageOnWindows.yml
    secrets: inherit
    with:
      runner-label: windows-2022
      unreal-engine-zip: "s3://cesium-unreal-engine/5.6.0/UE_5.6.zip"
      unreal-program-name: "UE_5.6"
      unreal-engine-association: "5.6"
      test-package-base-name: "CesiumForUnreal-56"
      visual-studio-version: "2022"
      visual-studio-components: "Microsoft.VisualStudio.Component.VC.14.38.17.8.x86.x64,Microsoft.VisualStudio.Component.Windows11SDK.22621"
